@use '../../styles/internal' as *;

.button {
  --button-background-color: transparent;
  --button-width: auto;

  @extend %button-reset;

  background-color: var(--button-background-color);
  border: 1px solid transparent;
  font-size: rem(16);
  padding: 10px 20px;
  width: var(--button-width);

  :global {
    .button__content {
      color: black;

      :local {
        .button__icon {
          fill: red;
        }
      }
    }
  }
}

// .button--blue {
//   --button-background-color: blue;
// }

.button-blue {
  --button-background-color: blue;
  composes: button;
  // background-color: blue;
}

.button--orange {
  --button-background-color: orange;
}

.button--full-width {
  --button-width: 100%;
}
